---
import Layout from '../layouts/Layout.astro';

const versions = ['react', 'vue', 'svelte', 'solid'];
function getNameOfVersion(version: string) {
	return version.charAt(0).toUpperCase() + version.slice(1);
}
---

<Layout title="Welcome to Netomi">
	<small class="text-gray">Pick the matching pairs of Cards.</small>
	<p class="text-purple text-3xl font-bold">Pick your Poison 🙃</p>

	{
		versions.map(version => (
			<a class:list={['btn', `btn-${version}`]} href={`/${version}`}>
				{getNameOfVersion(version)}
			</a>
		))
	}
</Layout>
