---
import Layout from '../layouts/Layout.astro';
import App from "../components/solid/App.solid";
---

<Layout title="Solid Netomi">
  <main>
    <App client:load />
  </main>
</Layout>

<style>
:root {
  --primary: var(--primary-solid);
}
</style>

