---
import '../assets/style.css';

export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tsparticles/2.10.1/tsparticles.bundle.min.js"></script>
	</head>
	<body>
    <main class="flex h-screen flex-col items-center justify-center">
      <h1 class="text-6xl">NETOMI</h1>
		  <slot />
		  <div id="tsparticles"></div>
    </main>
    <footer class="flex w-full justify-center items-center">
      <a href="https://github.com/srav001/netomi">Netomi @ GitHub</a>
    </footer>
	</body>
</html>

<style is:global>
  :root {
    --primary-vue: green;
    --primary-react: rgb(67, 195, 236);
    --primary-solid: blue;
    --primary-svelte: orange;
    --background: #F6F6F6;
  }
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--background);
	}
</style>

<style>
h1 {
		background-image: linear-gradient(45deg, rgb(124, 58, 237), #da62c4 30%, white 60%);;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

